body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5vmin;
  background: rgb(2,0,36);
  background-image: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(85,9,121,1) 56%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
